<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example"
    android:versionCode="10005"
    android:versionName="" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:name="com.gmailraidenbits.projconf.Env"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_48dp" >
    </application>

</manifest>